# Ignore Git metadata (version control files)
.git/
.github/

# Ignore the Dockerfile itself (not necessary in the image)
Dockerfile
.dockerignore

# Ignore Go build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore any system-specific or temporary files
.DS_Store
Thumbs.db

# Ignore any logs or backup files
*.log
*.bak

